.git
.metadata
target
RemoteSystemsTempFiles
Servers
.hg
**/target
**/.settings
*.classpath
*.project
*.factorypath
**/*.pyc
*~
.idea
.m2/*
.sass-cache
.idea/
**/MANIFEST.MF
*.log
*.iml
.svn
.externalToolBuilders
.apt_generated
_.swp
master-version
.sonar/
